<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    
    {% endblock head %}
</head>
<body>
    <header>
        <h2>MOTOLITE</h2>
    </header>
    <main>
        {% block main_content %}
        
        {% endblock main_content %}
    </main>
    <footer>
        App in development phase
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
